body{
    background-color: lightslategrey;
    font-family: system-ui;
}

#navbar{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
}

#navbar li{
    float: left;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
}

#navbar li a{
    text-align: center;
    text-decoration: none;
    color: white;
}

#navbar li a:hover{
    background-color: gray;
}

#title{
    text-align: center;
    color: white;
}

/* firstDesign.html style */

#left-side{
    width: 25%;
    height: 25%;
    background-color: cadetblue;
    float: left;
    margin-top: 10px;
    position: relative;
}

#middle{
    width: 50%;
    height: 50%;
    background-color:darkslategrey;
    float: left;
    text-align: center;
    margin-top: 10px;
    color: white; 
    position: relative;
}

#right-side{
    width: 25%;
    height: 25%;
    background-color: crimson;
    float: right;
    text-align: center;    
    margin-top: 10px;
}

#listOfWork{
    margin-right: 40px;
    margin-left: 40px;
}


/* about.html style */
#about-me-style{
    padding: 15px;
    margin-top: 10px;
    margin: 15px;
    color: white;
    text-align: center;
    position: static; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:darkslategray;
    border-radius: 15px;
}

#profile-pic{
    border-radius: 150px;
    height: 150px;
    width: 150px;
    transition: width 1s, height 1s;
}

#profile-pic:hover{
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

#my-music{
    text-align: center;
}

#spotify-icon{
    height: 50px;
    width: 50px;
}


