body{
    background-color: white;
    font-family: Courier;
}

.header{
    padding: 25px;
    text-align: center;
    background-image: url("WebPictures/swim.jpg")
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    color: white;

}

li a:hover{
    background-color: #333333;
}

.footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about-me-style{
    width: 33.33%;
    padding: 15px;
    text-align: center;
    position: absolute;
    width: 100%
}

#profile-pic{
    border-radius: 200px;
    height: 200px;
    width: 200px;
    position: left;
    transition: width 2s, height 2s;

}

#profile-pic:hover{
    height: 300px;
    width: 300px;
    border-radius: 300px;
}

#instagram{
    height: 30px;
    width: 30px;
}
