body{
    background-color: white;
    font-family: Courier;
}

.header{
    padding: 40px;
    text-align: center;
    background-image: url("WebPictures/swim.jpg")
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

li a:hover{
    background-color: #333333;
}

/* firstDesign.html style */
#left-side{
    width: 25%;
    height: 25%;
    background-color: cadetblue;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}

#middle{
    width: 50%;
    height: 50%;
    background-color: coral;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#right-side{
    width: 25%;
    height: 25%;
    background-color: crimson;
    float: left;
    text-align: center;    
    margin-top: 10px;
}

/* about.html style */
.about-me-style{
    padding: 15px;
    margin: 15px;
    text-align: center;
    position: static; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: teal;
    border-radius: 15px;
}

#profile-pic{
    border-radius: 150px;
    height: 150px;
    width: 150px;
    transition: width 2s, height 2s;
}

#profile-pic:hover{
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

#my-music{
    text-align: center;
}

#instagram{
    height: 30px;
    width: 30px;
}

#spotify-icon{
    height: 50px;
    width: 50px;
    transition: width 1s, height 1s;
}

#spotify-icon:hover{
    height: 55px;
    width: 55px;
    border-radius: 55px;
}
